Import all the required Librabries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import zipfile
import os

Check all the Files in the zip_Folder and extract it

In [2]:
# Path to the uploaded ZIP file
zip_file_path = "C:/Users/ASUS/Desktop/Project IPL/IPL_2016.zip"

# Extract the ZIP file
extracted_dir = "C:/Users/ASUS/Desktop/Project IPL/IPL_2016_cleaned"
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extracted_dir)

# List the extracted files
extracted_files = os.listdir(extracted_dir)
extracted_files

['Ball_by_Ball.csv',
 'Batsman_Scored.csv',
 'Batting_Style.csv',
 'Bowling_Style.csv',
 'City.csv',
 'Country.csv',
 'Extra_Runs.csv',
 'Extra_Type.csv',
 'Match.csv',
 'Outcome.csv',
 'Out_Type.csv',
 'Player.csv',
 'Player_Match.csv',
 'Rolee.csv',
 'Season.csv',
 'Team.csv',
 'Toss_Decision.csv',
 'Venue.csv',
 'Wicket_Taken.csv',
 'Win_By.csv']

Load the CSV files into pandas DataFrames

In [3]:
# Removing the problematic feature engineering part for 'Batsman_Scored'
# Proceeding with the rest of the EDA and data processing

# Load the CSV files into pandas DataFrames
dataframes = {}
for file in extracted_files:
    if file.endswith('.csv'):
        df_name = os.path.splitext(file)[0]
        file_path = os.path.join(extracted_dir, file)
        try:
            dataframes[df_name] = pd.read_csv(file_path)
        except:
            dataframes[df_name] = pd.read_csv(file_path,error_bad_lines=False)

b'Skipping line 3: expected 3 fields, saw 4\nSkipping line 8: expected 3 fields, saw 4\nSkipping line 9: expected 3 fields, saw 4\nSkipping line 20: expected 3 fields, saw 4\nSkipping line 22: expected 3 fields, saw 4\nSkipping line 34: expected 3 fields, saw 4\n'

Display basic information and first few rows for each DataFrame

In [5]:
for name, df in dataframes.items():
    print(f"\n--- {name} ---")
    print(df.info())
    print(df.head())

--- Ball_by_Ball ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136590 entries, 0 to 136589
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Match_Id                  136590 non-null  int64
 1   Over_Id                   136590 non-null  int64
 2   Ball_Id                   136590 non-null  int64
 3   Innings_No                136590 non-null  int64
 4   Team_Batting              136590 non-null  int64
 5   Team_Bowling              136590 non-null  int64
 6   Striker_Batting_Position  136590 non-null  int64
 7   Striker                   136590 non-null  int64
 8   Non_Striker               136590 non-null  int64
 9   Bowler                    136590 non-null  int64
dtypes: int64(10)
memory usage: 10.4 MB
None
   Match_Id  Over_Id  Ball_Id  Innings_No  Team_Batting  Team_Bowling  \
0    335987        1        1           1             1             2
1    335987        1        1           2             2             1
2    335987        1        2           1             1             2
3    335987        1        2           2             2             1
4    335987        1        3           1             1             2

   Striker_Batting_Position  Striker  Non_Striker  Bowler
0                         1        1            2      14
1                         1        6            7     106
2                         2        2            1      14
3                         2        7            6     106
4                         2        2            1      14

--- Batsman_Scored ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133097 entries, 0 to 133096
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Match_Id     133097 non-null  int64
 1   Over_Id      133097 non-null  int64
 2   Ball_Id      133097 non-null  int64
 3   Runs_Scored  133097 non-null  int64
 4   Innings_No   133097 non-null  int64
dtypes: int64(5)
memory usage: 5.1 MB
None
   Match_Id  Over_Id  Ball_Id  Runs_Scored  Innings_No
0    335987        1        1            0           1
1    335987        1        1            1           2
2    335987        1        2            0           1
3    335987        1        3            0           2
4    335987        1        4            0           1

--- Batting_Style ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Batting_Id    2 non-null      int64
 1   Batting_hand  2 non-null      object
dtypes: int64(1), object(1)
memory usage: 88.0+ bytes
None
   Batting_Id    Batting_hand
0           1   Left-hand bat
1           2  Right-hand bat

--- Bowling_Style ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bowling_Id     14 non-null     int64
 1   Bowling_skill  14 non-null     object
dtypes: int64(1), object(1)
memory usage: 232.0+ bytes
None
   Bowling_Id          Bowling_skill
0           1       Right-arm medium
1           2     Right-arm offbreak
2           3  Right-arm fast-medium
3           4        Legbreak googly
4           5  Right-arm medium-fast

--- City ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_Id     29 non-null     int64
 1   City_Name   29 non-null     object
 2   Country_id  29 non-null     int64
dtypes: int64(2), object(1)
memory usage: 644.0+ bytes
None
   City_Id   City_Name  Country_id
0        1   Bangalore           1
1        2  Chandigarh           1
2        3       Delhi           1
3        4      Mumbai           1
4        5     Kolkata           1

--- Country ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_Id    12 non-null     int64
 1   Country_Name  12 non-null     object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
None
   Country_Id  Country_Name
0           1         India
1           2  South Africa
2           3         U.A.E
3           4   New Zealand
4           5     Australia

--- Extra_Runs ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7469 entries, 0 to 7468
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Match_Id       7469 non-null   int64
 1   Over_Id        7469 non-null   int64
 2   Ball_Id        7469 non-null   int64
 3   Extra_Type_Id  7469 non-null   int64
 4   Extra_Runs     7469 non-null   int64
 5   Innings_No     7469 non-null   int64
dtypes: int64(6)
memory usage: 350.2 KB
None
   Match_Id  Over_Id  Ball_Id  Extra_Type_Id  Extra_Runs  Innings_No
0    335987        1        1              1           1           1
1    335987        1        2              2           1           2
2    335987        1        3              2           1           1
3    335987        1        7              1           1           1
4    335987        2        3              1           4           2

--- Extra_Type ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Extra_Id    5 non-null      int64
 1   Extra_Name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 124.0+ bytes
None
   Extra_Id Extra_Name
0         1    legbyes
1         2      wides
2         3       byes
3         4    noballs
4         5    penalty

--- Match ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match_Id          577 non-null    int64
 1   Team_1            577 non-null    int64
 2   Team_2            577 non-null    int64
 3   Match_Date        577 non-null    object
 4   Season_Id         577 non-null    int64
 5   Venue_Id          577 non-null    int64
 6   Toss_Winner       577 non-null    int64
 7   Toss_Decide       577 non-null    int64
 8   Win_Type          577 non-null    int64
 9   Win_Margin        568 non-null    float64
 10  Outcome_type      577 non-null    int64
 11  Match_Winner      574 non-null    float64
 12  Man_of_the_Match  574 non-null    float64
dtypes: float64(3), int64(9), object(1)
memory usage: 56.4+ KB
None
   Match_Id  Team_1  Team_2  Match_Date  Season_Id  Venue_Id  Toss_Winner  \
0    335987       2       1  2008-04-18          1         1            2
1    335988       4       3  2008-04-19          1         2            3
2    335989       6       5  2008-04-19          1         3            5
3    335990       7       2  2008-04-20          1         4            7
4    335991       1       8  2008-04-20          1         5            8

   Toss_Decide  Win_Type  Win_Margin  Outcome_type  Match_Winner  \
0            1         1       140.0             1           1.0
1            2         1        33.0             1           3.0
2            2         2         9.0             1           6.0
3            2         2         5.0             1           2.0
4            2         2         5.0             1           1.0

   Man_of_the_Match
0               2.0
1              19.0
2              90.0
3              11.0
4               4.0

--- Outcome ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Outcome_Id    3 non-null      int64
 1   Outcome_Type  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 100.0+ bytes
None
   Outcome_Id Outcome_Type
0           1       Result
1           2    No Result
2           3    Superover

--- Out_Type ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Out_Id    9 non-null      int64
 1   Out_Name  9 non-null      object
dtypes: int64(1), object(1)
memory usage: 172.0+ bytes
None
   Out_Id      Out_Name
0       1        caught
1       2        bowled
2       3       run out
3       4           lbw
4       5  retired hurt

--- Player ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Id      469 non-null    int64
 1   Player_Name    469 non-null    object
 2   DOB            469 non-null    object
 3   Batting_hand   469 non-null    int64
 4   Bowling_skill  426 non-null    float64
 5   Country_Name   469 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 18.4+ KB
None
   Player_Id      Player_Name         DOB  Batting_hand  Bowling_skill  \
0          1       SC Ganguly  1972-07-08             1            1.0
1          2      BB McCullum  1981-09-27             2            1.0
2          3       RT Ponting  1974-12-19             2            1.0
3          4        DJ Hussey  1977-07-15             2            2.0
4          5  Mohammad Hafeez  1980-10-17             2            2.0

   Country_Name
0             1
1             4
2             5
3             5
4             6

--- Player_Match ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12694 entries, 0 to 12693
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Match_Id   12694 non-null  int64
 1   Player_Id  12694 non-null  int64
 2   Role_Id    12694 non-null  int64
 3   Team_Id    12694 non-null  int64
dtypes: int64(4)
memory usage: 396.8 KB
None
   Match_Id  Player_Id  Role_Id  Team_Id
0    335987          1        1        1
1    335987          2        3        1
2    335987          3        3        1
3    335987          4        3        1
4    335987          5        3        1

--- Rolee ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Role_Id    4 non-null      int64
 1   Role_Desc  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 112.0+ bytes
None
   Role_Id      Role_Desc
0        1        Captain
1        2         Keeper
2        3         Player
3        4  CaptainKeeper

--- Season ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Season_Id          9 non-null      int64
 1   Man_of_the_Series  9 non-null      int64
 2   Orange_Cap         9 non-null      int64
 3   Purple_Cap         9 non-null      int64
 4   Season_Year        9 non-null      int64
dtypes: int64(5)
memory usage: 424.0 bytes
None
   Season_Id  Man_of_the_Series  Orange_Cap  Purple_Cap  Season_Year
0          1                 32         100         102         2008
1          2                 53          18          61         2009
2          3                133         133         131         2010
3          4                162         162         194         2011
4          5                315         162         190         2012

--- Team ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Team_Id    13 non-null     int64
 1   Team_Name  13 non-null     object
dtypes: int64(1), object(1)
memory usage: 220.0+ bytes
None
   Team_Id                    Team_Name
0        1        Kolkata Knight Riders
1        2  Royal Challengers Bangalore
2        3          Chennai Super Kings
3        4              Kings XI Punjab
4        5             Rajasthan Royals

--- Toss_Decision ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Toss_Id    2 non-null      int64
 1   Toss_Name  2 non-null      object
dtypes: int64(1), object(1)
memory usage: 88.0+ bytes
None
   Toss_Id Toss_Name
0        1     field
1        2       bat

--- Venue ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Venue_Id    29 non-null     int64
 1   Venue_Name  29 non-null     object
 2   City_Id     29 non-null     int64
dtypes: int64(2), object(1)
memory usage: 644.0+ bytes
None
   Venue_Id              Venue_Name  City_Id
0         1   M Chinnaswamy Stadium        1
1         3        Feroz Shah Kotla        3
2         4        Wankhede Stadium        4
3         5            Eden Gardens        5
4         6  Sawai Mansingh Stadium        6

--- Wicket_Taken ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6727 entries, 0 to 6726
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Match_Id    6727 non-null   int64
 1   Over_Id     6727 non-null   int64
 2   Ball_Id     6727 non-null   int64
 3   Player_Out  6727 non-null   int64
 4   Kind_Out    6727 non-null   int64
 5   Fielders    4867 non-null   float64
 6   Innings_No  6727 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 367.9 KB
None
   Match_Id  Over_Id  Ball_Id  Player_Out  Kind_Out  Fielders  Innings_No
0    335987        2        1           6         2       NaN           2
1    335987        3        2           8         2       NaN           2
2    335987        5        5           9         1      83.0           2
3    335987        6        2           1         1       9.0           1
4    335987        6        2           7         1       3.0           2

--- Win_By ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Win_Id    4 non-null      int64
 1   Win_Type  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 112.0+ bytes
None
   Win_Id   Win_Type
0       1       runs
1       2    wickets
2       3  NO Result
3       4        Tie

Handle missing values by identifying and dropping or imputing

In [6]:
for name, df in dataframes.items():
    print(f"\nMissing values in {name}:")
    print(df.isnull().sum())
    # Drop rows with missing values (example approach)
    df.dropna(inplace=True)
    dataframes[name] = df

Missing values in Ball_by_Ball:
Match_Id                    0
Over_Id                     0
Ball_Id                     0
Innings_No                  0
Team_Batting                0
Team_Bowling                0
Striker_Batting_Position    0
Striker                     0
Non_Striker                 0
Bowler                      0
dtype: int64

Missing values in Batsman_Scored:
Match_Id       0
Over_Id        0
Ball_Id        0
Runs_Scored    0
Innings_No     0
dtype: int64

Missing values in Batting_Style:
Batting_Id      0
Batting_hand    0
dtype: int64

Missing values in Bowling_Style:
Bowling_Id       0
Bowling_skill    0
dtype: int64

Missing values in City:
City_Id       0
City_Name     0
Country_id    0
dtype: int64

Missing values in Country:
Country_Id      0
Country_Name    0
dtype: int64

Missing values in Extra_Runs:
Match_Id         0
Over_Id          0
Ball_Id          0
Extra_Type_Id    0
Extra_Runs       0
Innings_No       0
dtype: int64

Missing values in Extra_Type:
Extra_Id      0
Extra_Name    0
dtype: int64

Missing values in Match:
Match_Id            0
Team_1              0
Team_2              0
Match_Date          0
Season_Id           0
Venue_Id            0
Toss_Winner         0
Toss_Decide         0
Win_Type            0
Win_Margin          9
Outcome_type        0
Match_Winner        3
Man_of_the_Match    3
dtype: int64

Missing values in Outcome:
Outcome_Id      0
Outcome_Type    0
dtype: int64

Missing values in Out_Type:
Out_Id      0
Out_Name    0
dtype: int64

Missing values in Player:
Player_Id         0
Player_Name       0
DOB               0
Batting_hand      0
Bowling_skill    43
Country_Name      0
dtype: int64

Missing values in Player_Match:
Match_Id     0
Player_Id    0
Role_Id      0
Team_Id      0
dtype: int64

Missing values in Rolee:
Role_Id      0
Role_Desc    0
dtype: int64

Missing values in Season:
Season_Id            0
Man_of_the_Series    0
Orange_Cap           0
Purple_Cap           0
Season_Year          0
dtype: int64

Missing values in Team:
Team_Id      0
Team_Name    0
dtype: int64

Missing values in Toss_Decision:
Toss_Id      0
Toss_Name    0
dtype: int64

Missing values in Venue:
Venue_Id      0
Venue_Name    0
City_Id       0
dtype: int64

Missing values in Wicket_Taken:
Match_Id         0
Over_Id          0
Ball_Id          0
Player_Out       0
Kind_Out         0
Fielders      1860
Innings_No       0
dtype: int64

Missing values in Win_By:
Win_Id      0
Win_Type    0
dtype: int64

Check and remove duplicates

In [7]:
for name, df in dataframes.items():
    print(f"\nDuplicates in {name}: {df.duplicated().sum()}")
    df.drop_duplicates(inplace=True)
    dataframes[name] = df

Duplicates in Ball_by_Ball: 0

Duplicates in Batsman_Scored: 0

Duplicates in Batting_Style: 0

Duplicates in Bowling_Style: 0

Duplicates in City: 0

Duplicates in Country: 0

Duplicates in Extra_Runs: 0

Duplicates in Extra_Type: 0

Duplicates in Match: 0

Duplicates in Outcome: 0

Duplicates in Out_Type: 0

Duplicates in Player: 0

Duplicates in Player_Match: 0

Duplicates in Rolee: 0

Duplicates in Season: 0

Duplicates in Team: 0

Duplicates in Toss_Decision: 0

Duplicates in Venue: 0

Duplicates in Wicket_Taken: 0

Duplicates in Win_By: 0

Save the cleaned files in csv format

In [9]:
# Directory where the cleaned CSV files will be saved
cleaned_dir = "C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files"
# cleaned_dir = '/Users/saswatranjannayak/Desktop/ASE204 Project/IPL_2016/clean'

# Create the directory if it doesn't exist
os.makedirs(cleaned_dir, exist_ok=True)

# Save each cleaned DataFrame to a CSV file
for name, df in dataframes.items():
    cleaned_file_path = os.path.join(cleaned_dir, f'IPL_{name}.csv')
    df.to_csv(cleaned_file_path, index=False)
    print(f'Saved {name} to {cleaned_file_path}')

Saved Ball_by_Ball to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Ball_by_Ball.csv
Saved Batsman_Scored to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Batsman_Scored.csv
Saved Batting_Style to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Batting_Style.csv
Saved Bowling_Style to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Bowling_Style.csv
Saved City to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_City.csv
Saved Country to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Country.csv
Saved Extra_Runs to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Extra_Runs.csv
Saved Extra_Type to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Extra_Type.csv
Saved Match to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Match.csv
Saved Outcome to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Outcome.csv
Saved Out_Type to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Out_Type.csv
Saved Player to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Player.csv
Saved Player_Match to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Player_Match.csv
Saved Rolee to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Rolee.csv
Saved Season to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Season.csv
Saved Team to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Team.csv
Saved Toss_Decision to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Toss_Decision.csv
Saved Venue to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Venue.csv
Saved Wicket_Taken to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Wicket_Taken.csv
Saved Win_By to C:/Users/ASUS/Desktop/Project IPL/IPL_2016/IPL_clean_files\IPL_Win_By.csv